body{
    background-color:#AA3939;
    color:white;
    font-weight: 100;  
    font-size: 20px;  
}
.b-wrapper{    
    
}

.b-row{

}

.b-col-4{
    width:31.33%;
    margin:1%;
    float:left;
}

.b-center{
text-align:center;
}

.b-emphasis-30{
    font-size:100px;
}

.ptop {

    padding-top:15%;
}

.b-hours{
    border: 1px solid;
    box-sizing: border-box;
    background: white;
    color: #AA3939;
    border-radius: 3px;
}

input {
    color: #AA3939;
}
.b-cta {
    color: #AA3939;
    background-color: white;    
    border: none;
    cursor: pointer;
    font-weight: 900;
}

.b-todo{
    font-size: 20px;
    font-weight: 100;
    list-style:none;
    cursor: pointer;
}

.p10{
    padding: 10px;
}

.p20{
    padding: 20px;
}

.mt10{
    margin-top:10px;
}

.mr10{
    margin-right: 10px;
}

.ml10{
    margin-left: 10px;
}

.mb10{
    margin-bottom: 10px;
}

.b-bgColor-container{
    clear: both;
    height: 100px;
}

.b-circle{
    height: 40px;
    clear: both;
    width: 25%;
    display: inline-block;
    border: 1px solid #eee;
}

.b-gear-icon{
    bottom: 0;
    position: absolute;
    left: 20;
}

.b-settings-pane{
    background: #163939;
    padding: 10px;
    z-index: 100;
    /* position: absolute; */
    position: fixed;
    bottom: 60px;
    width: 50%;
}